<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="My Connection" connectionString="Server=.;Database=ReceipesDB;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
    <add name="Step Academy" connectionString="Server=.;Database=ReceipesDB;User Id=admin;Password=admin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>